extends layout

block content
  style(type='text/css').
           .subdiv {
                color:red;
            }
            #ta{
            color:green;
            }
            .tex{
            width:800px;height:50px;
            }
            .but{
            width: 100px;
            height: 36px;
            margin-left: 50px;
            background: greenyellow;
            border-radius: 35px
            }

  #maindiv
  .subdiv
  p#ta.
   Welcome to SHA Please Enter Paste The Json To Strore into database
  input(type = 'text').tex
  input(type = 'button' value='Save').but
   

